*{
    box-sizing: border-box;
    /* border:1px solid black; */
    margin:0;
    padding:0;
}

.OuterContainer{
    height: 100vh;
    width: 100%;
    position: relative;
}
.OuterCenterSection{
    width: 1050px;
    height: 600px;
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
}
.InnerLeftDivision{
    float:left;
    width: 48%;
    height: 100%;
    padding: 10px 10px 10px 10px;
    position: relative;
}

.InnerRightDivision{
    float:right;
    width: 48%;
    height: 100%;
}

.InnerRightUpperDivision{
    height: 20%;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    padding: 35px 20px 10px 20px;
    text-align: center;
    position: relative;
    color: #635a94;
}

.InnerRightLowerDivision{
    height: 72%;
    border-radius: 5px; 
    background-image: linear-gradient(#a559d5, #5433a7);
    margin: 20px;
    padding: 20px 50px 20px 50px;
    position: relative;
}

.LoginFormHeadingDivision{
    font-size: 20px;
    color: white;
    text-align: center;
    /* border: 1px solid green; */
    margin-bottom: 20px;
}

.InnerLeftLogoDivision{
    height: 20%;
    width: fit-content;
    margin: auto;
}
.RegisterFormDivision{
    /* border: 1px solid blue; */
    height: 240px;
}
.LoginFormInnerDivision{
    /* border: 1px solid blue; */
    height: 180px;
}
.OTPFormDivision{
    /* border: 1px solid blue; */
    height: 100px;
}
.RegisterButtonDivision{
    margin-top: 20px;
    /* border: 1px solid white; */
    height: 35px;
}

.RegisterButtonDivision .ant-form-item{
    margin-bottom: 10px !important;
}
.Brand{
    height: 85%;
    width: 100%;
    /* float: left; */
    /* border: 1px solid red; */
}
.LogoDivision{
    height: 70%;
    width: 100px;
    float: left;
    border: 1px solid red;
}
.LogoName{
    width: fit-content;
    height: 70%;
    float: right;
    line-height: 80px;
    padding: 0px 20px;
    font-size: 54px;
    color:#E145A3;
    font-family: 'Caveat Brush', cursive;
    border: 1px solid blue;
}
.InnerLeftUpperDivision{
    height: 10%;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #635a94;
    padding-top: 15px;
}

.InnerLeftMiddleDivision{
    height: 15%;
    font-size: 16px;
    width: 70%;
    margin:auto;
    /* font-family: 'Roboto', sans-serif; */
    font-weight: 600;
    padding: 10px 10px 10px 10px;
    text-align: center;
    color: #cf3492;
    line-height: 20px;
}
.InnerLeftLowerDivision{
    height: 55%;
    width: 90%;
    margin:auto;
    margin-top: 10px;
    /* border: 1px solid red; */
}

.slick-list{
    height: 320px !important;
}

.carousel-item{
    height: 250px;
    color: #fff;
    line-height: 200px;
    text-align: center;
    background-color: #364d79;
  }

.LoginFormDivision{
    height: 200px;
    margin-top: 20px;
    width: 355px;
    position: relative;
}
#LoginFormSubmitButton{
    width: 200px;
    height:35px;
    margin-left: 70px;
    font-size: 16px;
    font-weight: 500;
    background-color: #cf3492;
    border-radius: 5px;
    border:none;
}
#LoginFormSubmitButton:hover{
    background-color: #cf3492;
}
#LoginFormSubmitButton:active{
    background-color: #cf3492;
}
.InnerRightLowerDivision .ant-form-vertical .ant-form-item-label > label{
    color:rgb(221, 220, 220);
    /* margin-top:5px; */
    font-size: 17px;
    font-weight: 400;
}
.RegisterFormDivision .ant-form-item{
    margin-bottom: 15px !important;
}
.HeadingHrStyle{
    width: 150px;
    height: 8px;
    background-color: #cf3492;
    border-radius: 5px;
    position: absolute;
    left:0;
    right:0;
    margin: auto;
    border:none;
}

#PhoneAndNameForm{
    padding: 0px 5px 10px 5px;
    height: 350px;
    width: 360px;
    /* border: 1px solid red; */
    left:0;
    right: 0;
    top:0;
    bottom: 0;
    margin: auto;
    position: absolute;
}
#LoginComponentDivision{
    padding: 10px 5px 10px 5px;
    height: 240px;
    width: 360px;
    /* border: 1px solid red; */
    left:0;
    right: 0;
    top:70px;
    /* bottom: 0; */
    margin: auto;
    position: absolute;
}
.ChangeToLoginDiv{
    text-align: center;
    font-size: 16px;
    color: rgb(172, 172, 172);
    /* border: 1px solid white; */
}
#OTPForm{
    padding: 10px 5px 10px 5px;
    height: 240px;
    width: 360px;
    /* border: 1px solid red; */
    left:0;
    right: 0;
    top:0;
    bottom: 0;
    margin: auto;
    position: absolute;
}
.ant-form-item-control-input{
    height: 10px;
    /* border: 1px solid yellow; */
}
.carouselItem{
    height: 260px;
    width: 100%;
}
.contentStyle{
    height: 100%;
    width: 100%;
}


.ant-carousel .slick-dots li {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50%;
    z-index: 99 !important;
    /* background-color: red; */
}
.ant-carousel .slick-dots li button{
    width: 12px !important;
    height: 12px !important;
    border-radius: 50%;
    background-color: rgb(107, 107, 107);
    z-index: -1;
}
.ant-carousel .slick-dots li.slick-active button{
    background-color:#cf3492;
}
