.monthly-outer-component{
    width: 100%;
    height: fit-content;
    /* border: 1px solid red; */
}

.monthly-sub-header{
    height: 60px;
    width: 90%;
    background-image: linear-gradient(to right, #cf3694 , #a659d5);
    left:0;
    right:0;
    margin:auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.monthly-sub-header-left-indicator{
    width: 60px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    float: left;
    position: relative;
}
.monthly-sub-header-right-indicator{
    width: 60px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    float: right;
    position: relative;
}
.monthly-indicators-division{
    height: 30px;
    width: 30px;
    /* border:1px solid red; */
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    position: absolute;
}
.monthly-indicators{
    height: 20px;
    width: 20px;
}
.monthly-summary{
    height: fit-content;
    width: 100%;
    /* border: 1px solid red; */
    padding:10px 0px 10px 0px;
}

.monthly-summary-inner{
    height: 60px;
    width: 90%;
    left:0;
    right:0;
    margin:auto;
    background-image: linear-gradient(to right, #5433a7 , #a559d5);
    text-align: center;
}

.monthly-summary-inner-salary{
    width: 25%;
    float: left;
    height: 100%;
    /* line-height: 60px; */
    /* border: 1px solid yellow; */
    position: relative;
}

.summary-salary-text-div{
    height:40px;
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin: auto;
    color: rgb(255, 255, 255);
    font-size: 14px;
}

.monthly-summary-inner-search{
    width: 25%;
    float: left;
    height: 100%;
    /* border: 1px solid yellow; */
    position: relative;
}

.summary-search-div{
    height:25px;
    width: 200px;
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin: auto;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    background-color: #ca9be6;
    border-radius: 20px;
    overflow: hidden;
}

.monthly-summary-inner-add{
    width: 25%;
    float: left;
    height: 100%;
    line-height: 60px;
    /* border: 1px solid yellow; */
    position: relative;
}

.summary-inner-add-button{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin: auto;
    height: 35px;
    width: 120px;
    line-height: 35px;
    font-weight: 500;
    text-align: center;
    background-color: #CF3492;
    color: white;
}

.monthly-summary-inner-mode{
    width: 25%;
    float: left;
    height: 100%;
    line-height: 60px;
    /* border: 1px solid yellow; */
    position: relative;
}

#summary-mode-switch{
    margin:0px 5px 0px 5px;
}
.summary-inner-mode-div{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin: auto;
    width: 200px;
    height: 100%;
    /* border: 1px solid red; */
    color: white;
    font-size: 14px;
    font-weight: 400;
}

#monthly-table-head{
    height: fit-content;
    width: 100%;
    /* border: 1px solid red; */
    padding:10px 0px 10px 0px;
}

.monthly-table-head-div{
    height: 40px;
    width: 90%;
    left:0;
    right:0;
    margin:auto;
    text-align: center;
    margin-top: 20px;
    /* margin-bottom:5px; */
    background-color: #fcf5ff;
    border: 1px solid rgb(214, 214, 214);
    font-weight: 500;
    font-size: 15px;
    color: #5f538e;
}

.monthly-table-title{
    float: left;
    /* border: 1px solid yellow; */
    width: 25%;
    height: 100%;
    line-height: 40px;
    text-align: center;
}

.monthly-table-amount{
    float: left;
    /* border: 1px solid yellow; */
    width: 25%;
    height: 100%;
    line-height: 40px;
    text-align: center;
}

.monthly-table-date{
    float: left;
    /* border: 1px solid yellow; */
    width: 25%;
    height: 100%;
    line-height: 40px;
    text-align: center;
}

.monthly-table-category{
    float: left;
    /* border: 1px solid yellow; */
    width: 25%;
    height: 100%;
    line-height: 40px;
    text-align: center;
}   

.monthly-table-data-div{
    height: 50px;
    width: 90%;
    left:0;
    right:0;
    margin:auto;
    text-align: center;
    margin-top: 20px;
    /* margin-bottom:5px; */
    background-color: #f6e3ff;
    border: 1px solid rgb(214, 214, 214);
    font-weight: 500;
    font-size: 15px;
    color: #5f538e;
}

.monthly-table-data-title{
    float: left;
    /* border: 1px solid yellow; */
    width: 25%;
    height: 100%;
    line-height: 50px;
    text-align: center;
}

.monthly-table-data-amount{
    float: left;
    /* border: 1px solid yellow; */
    width: 25%;
    height: 100%;
    line-height: 50px;
    text-align: center;
}

.monthly-table-data-date{
    float: left;
    /* border: 1px solid yellow; */
    width: 25%;
    height: 100%;
    line-height: 50px;
    text-align: center;
}

.monthly-table-data-category{
    float: left;
    /* border: 1px solid yellow; */
    width: 25%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    position: relative;
}   

.montly-table-category-button-clothing{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin: auto;
    height: 30px;
    width: 100px;
    line-height: 30px;
    font-weight: 500;
    text-align: center;
    background-color: #aaffeb;
    color: #008062;
}

.montly-table-category-button-jwellery{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin: auto;
    height: 30px;
    width: 100px;
    line-height: 30px;
    font-weight: 500;
    text-align: center;
    background-color: #ffa9ae;
    color: #c7000a;
}

#monthly-graphical-section{
    height: fit-content;
    width:100%;
    position: relative;
    display: none;
}

#monthly-graphical-inner-section{
    height: 400px;
    width: 90%;
    left:0;
    right:0;
    margin:auto;
    margin-top: 30px;
    background-color: #f6e3ff;
}

#AddExpenseButton{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin: auto;
    height: 35px;
    width: 120px;
    line-height: 25px;
    font-weight: 500;
    text-align: center;
    background-color: #CF3492;
    color: white;
}